{% extends 'base.html' %}

{% block 'title' %} <title>Register</title> {% endblock %}

{% block 'content' %}
    <h1>Register page</h1>

    <h3><a href="{% url 'login' %}">Login</a></h3>
    <br><br>

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password 1" name="password1">
        <input type="password" placeholder="Password 2" name="password2">

        <input type="submit" value="Register">
    </form>

{% endblock %}